<h1>Bands + Venues</h1>
<% if @bands.any? %>
  <h5>Artists:</h5>
  <ol>
    <% @bands.uniq.each  do |band| %>
      <li><a href ="/band/<%= band.id %>"><%= band.band_name %></a>
        <span class = "btn-group inline">
          <form action = "/band/<%= band.id %>" method = "post">
            <input name ="_method" type ="hidden" value ="delete">
            <button id  = "delete_band" type = "submit" class="btn btn-xs btn-danger glyphicon glyphicon-remove">
            </button>
          </form>
        </span>
        <p></p>
      </li>
    <% end %>
  </ol>
  <h6>Click on an artist to edit.</h6>
<% else %>
  <h5>There are no artists worth knowing at this time.  Please add one.</h5>
<% end %>
<br>
<div class="form group">
  <p><form action="/add_band" method="post">
    <input id="band_name" name="band_name" placeholder="Add Band">
    <button type="submit" class="btn btn-xs btn-success">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </form></p>
</div>
<hr>
<% if @venues.any? %>
  <h5>Venues:</h5>

  <ol>
    <% @venues.uniq.each  do |venue| %>

      <li><a href ="/venue/<%= venue.id %>"><%= venue.venue_name %></a>
        <span class = "btn-group inline">
          <form action = "/venue/<%= venue.id %>" method = "post">
            <input name ="_method" type ="hidden" value ="delete">
            <button id = "delete_venue" type = "submit" class="btn btn-xs btn-danger glyphicon glyphicon-remove">
            </button>
          </form>
        </span>
        <p></p>
      </li>
    <% end %>
  </ol>
  <h6>Click on a venue to edit.</h6>
<% else %>
  <h5>There are no good venues at this time.  Please add one.</h5>
<% end %>
<br>
<div class="form group">
  <p><form action="/add_venue" method="post">
    <input id="venue_name" name="venue_name" placeholder="Add Venue">
    <button type="submit" class="btn btn-xs btn-success">
      <span class="glyphicon glyphicon-plus"></span> Add
    </button>
  </form></p>
</div>
